services:
  frontend:
    container_name: manufacturing-ticket-frontend
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file:
      - .env.prod
    environment:
      - NODE_ENV=production
    ports:
      - "3000:3000"
    command: ["node", "server.js"]
